body {
    margin: 0;
    overflow: hidden;

}

p {
    opacity: 0.7;
    padding: 30px;
    background-color: blue;
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 30px;
    left: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}